@* @model LawnScheduler.Data.Machine

@{
    ViewData["Title"] = "Register Machine";
}

<h1>Register a Machine</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="RegisterMachine" asp-controller="MachineOperator" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MachineName" class="control-label"></label>
                <input asp-for="MachineName" class="form-control" />
                <span asp-validation-for="MachineName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Image" class="control-label">Upload Image</label>
                <input id="Image" name="image" type="file" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Register Machine</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@